.dash-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    color: white;
    gap: 1rem;
}
.header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding: 2rem;
    gap: 3rem;
}

.entities-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.entities-info > span {
    padding: .7rem 2rem;
    background-color: green;
    border-radius: 8px;
    box-shadow: var(--shadows);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drones-state-info{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    justify-content: space-evenly;
}

.drones-state-info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: black;
    border-radius: 8px;
    box-shadow: var(--shadows);
    min-width: 150px;
    gap: 1rem;
}

.drones-state-info-card-header{
    display: flex;
}

.drones-state-info-card-header > h4 {
    display: flex;
    margin-block: 0;

}

.footer{
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    justify-content: center;
    align-items: center;
}

.footer > span{
    font-size: small;
}


/********************Responsive Small Devices***********************/
@media screen and (max-width: 668px) {
    .drones-state-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .entities-info{
        flex-direction: column;
        gap: 1rem;
    }
}